body{
    font-family: "微软雅黑", Arial;
    background-color: #ffffff;
}
.heart{
    width: 1200px;
    margin: 0 auto;
}
i{
    display: inline-block;
}
/* 头部 */
.header{
    width: 100%;
}
.header .header-top{
    height: 37px;
    line-height: 37px;
    font-size: 12px;
    color: #666666;
    background-color: #F5F5F5;
}
.header .header-top .left{
    float: left;
}
.header .header-top .right{
    float: right;
}
.header .header-top .right li{
    float: left;
    width: 90px;
    height: 37px;
    text-align: center;
    position: relative;
}
.header .header-top .right li a{
    height: 12px;
    border-left: 1px solid #dbdbdd;
    padding:0 14px ;
    color: #666666;
}
.header .header-top .right li a:hover{
    color: #ff7919;
}
.header .header-top .right li a i{
    display: inline-block;
    width: 9px;
    height: 16px;
    background: url(../img/icons_03.png) no-repeat;
    background-position: -228px -11px;
    vertical-align: text-top;
    margin-right: 4px;
}
.header .header-top div li .mobile{
    width: 90px;
    position: absolute;
    top: 37px;
    right: 0px;
    border: 1px solid #ebebeb;
    border-top: none;
    z-index: 10;
    display: none;
}
.header .header-top .right li:nth-child(2):hover{
    background-color: #ffffff;
}
/* 头下半部 */
.header-bottom{
    width: 100%;
    height: 175px;
}
.header-bottom-top{
    height: 130px;
}
.header-bottom-top div{
    float: left;
}
/* logo */
.header-bottom-top .logo a{
    display: inline-block;
    width: 193px;
    height: 64px;
    margin:38px 30px 0 0;
    background: url(../img/juooo_logo.png) no-repeat ;
    background-size: 100% 100%;
}
/* 全国 */
.header-bottom-top div:nth-child(2) {
    margin-top: 48px;
    width: 175px;
    line-height: 22px;
    
}
.header-bottom-top div .all{
    position: relative;
}
.header-bottom-top div .all>span{
    vertical-align: middle; 
    color: #666666;
}
.header-bottom-top div .all i{
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icons_03.png) no-repeat;
    background-position: -112px -19px;
}
/* 隐藏块 */
.header-bottom-top div .all>div{
    width: 720px;
    max-height: 500px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 2px #ccc;
    position: absolute;
    top: -16px;
    left: -19px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    display: none;
    z-index: 1000;
}
.header-bottom-top div .all>div .a-title{
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 18px;
    background-color: #fcfcfc;
    color: #676767;
}
.header-bottom-top div .all>div .a-title i{
    background-position: -112px -10px;
}
.header-bottom-top div .all>div .a-title p{
    display: inline-block;
    margin-left: 52px;
    font-size: 12px;
}
.header-bottom-top div .all>div .a-title p span{
    color: #ff7919;
}
.header-bottom-top div .all>div .a-title .a-close{
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 20px;
    background-position: -518px -11px;
    transform: rotate(0deg);
    transition: all .5s;
}
.header-bottom-top div .all>div .a-title .a-close:hover{
    transform: rotate(180deg);
}
.header-bottom-top div .all>div div:nth-child(2){
    width: 100%;
    margin: 0;
}
.header-bottom-top .all>div div li{
    font-size: 12px;
    
    border-bottom: 1px solid #ebebeb;
    padding: 12px 10px 12px 18px;
    line-height: 32px;
}
.header-bottom-top .all>div div:nth-child(2) li>span{
    width: 78px;
    display: inline-block;
    line-height: 14px;
    border-right:1px solid #ebebeb ;
    vertical-align: top;
    color: #999999;
    margin-top: 10px;
}
.header-bottom-top .all>div div:nth-child(2) li>div {
    display: inline-block;
    max-width: 585px;
    float: none;
}
.header-bottom-top .all>div div:nth-child(2) li>div a{
    margin-left: 18px;
    width: 76px;
    height: 32px;
    line-height: 28px;
    display: inline-block;
    color: #333333;
}
.header-bottom-top .all>div div:nth-child(2) li>div a:hover{
    color: #ff7919;
}

.header-bottom-top div .all-bottom{
    margin-top: 0;
}
.header-bottom-top div .all-bottom a{
    display: inline-block;
    height: 21px;
    line-height: 19px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    color: #b3b3b3;
    padding:0 10px 0 5px;
}
.header-bottom-top div .all-bottom a i{
    width: 8px;
    height: 11px;
    background: url(../img/icons_03.png) no-repeat -85px -13px;
    margin-right: 5px;  
}
/* 搜索块 */
.search{
    width: 516px;
}
.s-input{
    margin-top: 40px;
    font-size: 0;
   
}
.s-input input{
    width: 440px;
    height: 40px;
    padding-left: 10px;
     border:2px solid #ff7919;
    line-height: 36px;
    font-size: 14px;
    
}
.s-input #s-btn{
    width: 60px;
    height: 40px;
    background-color:#ff7919 ;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0;
    cursor: pointer;
    text-align: center;
}
.s-input #s-btn i{
    width: 20px;
    height: 20px;
    background: url(../img/icons_03.png) no-repeat -136px -8px;
    margin-top: 10px;
}
.header-bottom-top .search .s-list{
    width: 440px;
    font-size: 12px;
    margin-top: 2px;
}
.header-bottom-top .search .s-list li{
    float: left;
    padding: 0 8px;
}
.header-bottom-top .search .s-list  li:first-child{
    padding-left: 0;
}
.header-bottom-top .search .s-list li a{
    color: #999999;
}
.header-bottom-top .search .s-list li a:hover{
    color: #ff7919;
}
/* 头部导航 */
.header-bottom-bottom{
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    position: relative;
}
 .header-bottom-bottom .shop{
    height: 45px;
    width: 180px;
    background-color: #ff7919;
    line-height: 45px;
    text-align: center;
    float: left;
}
 .header-bottom-bottom .shop{
    color: #ffffff;
} 
.shop{
    display: inline-block;
}
/* nav */
.header-bottom-bottom .nav-list li{
    float: left;
}
.header-bottom-bottom .nav-list li a{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding-left:45px ;
    color: #1a1a1a;
    font-weight: bold; 
    font-size: 16px;
}
.header-bottom-bottom .nav-list li a:hover{
    color: #ff7919;
}
/* 欢聚橙卡 */
.header-bottom-bottom .nav-right{
    float: right;  
}

/* 左侧列表 */
.nav-left{
    width: 180px;
    height: 400px;
    padding: 18px 0;
    position: absolute;
    left: 0;
    top: 45px;
    background-color: #FAFAFA;
    display: none;
}
.shop:hover .nav-left{
    display: block;
}
.nav-left a{
    color: #333333;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 30px 0 24px;

}
.nav-left a i:first-child{
    width: 32px;
    height: 32px;
    background: url(../img/icons_03.png) no-repeat -1px -1px;
    vertical-align: middle;
}
.nav-left a span{
    display: inline-block;
    width: 88px;
    height: 100%;
    padding:0 20px 0 5px ;
}
.nav-left a  i:last-child{
    width: 5px;
    height: 8px;
    background: url(../img/icons_03.png) -474px -15px;
}
.nav-left a:hover{
    color: #ff7919;
    background-color: #ffffff;
}
.nav-left a:nth-child(2) .nlbg1{
    background-position-y: -55px;
}
.nav-left a:nth-child(3) .nlbg1{
    background-position-y: -107px;
}
.nav-left a:nth-child(4) .nlbg1{
    background-position-y: -212px;
}
.nav-left a:nth-child(5) .nlbg1{
    background: url(../img/1.png) no-repeat 1px 0px;
}
.nav-left a:nth-child(6) .nlbg1{
    background-position-y: -261px;
}
.nav-left a:nth-child(7) .nlbg1{
    background-position-y: -312px;
}
/* 隐藏列表 */
.nav-left .nl-none{
    position: absolute;
    top: 0;
    right: -320px;
    z-index: 10;
}
.nav-left .nl-none li{
    width: 320px;
    height: 400px;
    padding: 14px 30px;
    display: none;
}
/* 设置背景 */
.nav-left .nl-none li:first-child{
    background: url(../img/bg1.jpg);
}
.nav-left .nl-none li:nth-child(2){
    background: url(../img/bg2.jpg);
}
.nav-left .nl-none li:nth-child(3){
    background: url(../img/bg3.jpg);
}
.nav-left .nl-none li:nth-child(4){
    background: url(../img/bg4.jpg);
}
.nav-left .nl-none li:nth-child(5){
    background: url(../img/bg5.jpg);
}
.nav-left .nl-none li:nth-child(6){
    background: url(../img/bg6.jpg);
}
.nav-left .nl-none li:nth-child(7){
    background: url(../img/bg7.jpg);
}

.nav-left .nl-none li>div{
    width: 130px;
    float: left;
    height: 100%;
    background: none;
}
.nav-left .nl-none li a{
    display: block;
    width: 90px;
    height: 60px;
    padding: 0 0 0 8px;
    text-align: left;
    position: relative;
    font-size: 12px;
    color: #333333;
}
.nav-left .nl-none li a:hover{
    color: #ff7919;
    background: none;
}
/* 横线 */
.nav-left .nl-none li a:after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    top: 55px;
    left: 0px;
}
.nav-left .nl-none li a:last-child:after{
    display: none;
}
/* 轮播 */
.swiper-container{
    width: 1200px;
    height: 400px;
    border: 1px solid red;
}
/* 中间内容 */
.middle-content{
    width: 100%;
    height: 3600px;
    /* background-color: #ccc; */
}
.middle-picture{
    width: 960px;
    height: 3600px;
    /* background-color: #666; */
    margin-top: 30px;
}
.picture{
    width: 240px;
    height: 395px;
    background: #fff;
    float: left;
    border: 1px solid #ebebeb;
}
.picture img{
    width: 200px;
    height: 265px;
    position: relative;
    top:15px;
    left:15px;   
}
.picture .p1{
    position: relative;
    top:25px;
    left:15px;
}
.picture:hover{
    border: 1px solid orange;
    transform: all 1s;
}
.money{
    position: relative;
    font-size: 24px;
    color: #f96C02;
    left:12px;
    top:27px;
}
.qi{
    font-size: 14px;
    color: #999999;
    position: relative;
    top:25px;
    left:15px;
}
.time{
    font-size: 14px;
    color: #999999;
    position: relative;
    top:25px;
    left:30px;
}
/* 右侧导航 */
.siderbar-right {
    position: fixed;
    right: 20px;
    bottom: 120px;
    z-index: 10;
}

.siderbar-right a {
    display: block;
    margin-top: -1px;
    border: 1px solid #ebebeb;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.siderbar-right .xjj {
    width: 125px;
    height: 200px;
    position: absolute;
    top: -215px;
    right: -20px;
    border: none;
    overflow: hidden;
}

.siderbar-right .xjj img {
    width: 100%
}

.siderbar-right a .sidebar-icon {
    display: block;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #999;
    background: #fff;
}

.siderbar-right a .icon-tel-right {
    background: #fff url(../img/sidebar2.png) no-repeat center 10px;
}

.siderbar-right a .sidebar-icon.icon-weixin {
    padding-top: 4px;
    font-size: 28px;
}

.siderbar-right a:hover .sidebar-icon {
    color: #fff;
    background: #ff9244;
}

.siderbar-right a:hover .icon-tel-right {
    background: #ff9244 url(../img/sidebar2.png) no-repeat center -44px;
}

.siderbar-right .sidebar-text {
    position: absolute;
    right: 53px;
    width: 0;
    height: 53px;
    line-height: 50px;
    text-align: right;
    background: url(../img/sidebar1.png) 0 0 no-repeat;
    -webkit-transition: .2s ease width;
    -o-transition: .2s ease width;
    -moz-transition: .2s ease width;
    transition: .2s ease width;
}

.siderbar-right .weixin-num {
    height: 147px;
}

.siderbar-right a:hover .sidebar-text {
    display: block;
    padding-right: 10px;
    width: 140px;
}

.siderbar-right a .weixin-num {
    top: 54px;
    background-position: -60px -8px;
    margin-top: -45px;
}

.siderbar-right a .tel-num {
    top: 0;
    background-position: -58px -213px;
}

.siderbar-right a:hover .weixin-num {
    width: 147px;
}

.siderbar-right a:hover .tel-num {
    width: 147px;
}

.siderbar-right a .phone-num {
    top: 108px;
    background-position: 0 -156px;
}

.siderbar-right a:hover .phone-num {
    width: 205px;
}

.siderbar-right a .qq-contact {
    top: 162px;
    background-position: -43px -324px;
}

.siderbar-right a:hover .qq-contact {
    width: 163px;
}

.siderbar-right a .back-to-top {
    top: 162px;
    background-position: -43px -268px;
}

.siderbar-right a:hover .back-to-top {
    width: 163px;
}

.panel-bottom .icon {
    display: none;
}

.check-more .icon {
    display: none;
}
/* 底部 */
.base-bottom-nav{
    margin-top:20px;
    width: 100%;
}
.base-bottom-nav1{
    width: 100%;
    height: 180px;
    background-color: #fff;
    border-top: 1px solid grey;
}
.wang{
    float:left;
    vertical-align: top;
}
.wang1{
    width: 344px;
    height: 100%;
}
.inner-line{
    width: 1px;
    height: 121px;
    margin-top: 2%;
    background: #f0f0f0;
}
.wang1-title{
    line-height: 62px;
    font-size: 16px;
    color: #333;
    margin-left:13px;
    margin-top:20px;
}
.help-list{
    width: 250px;
    font-size: 12px;
    line-height: 30px;
}
.help-list a{
    float:left;
    width: 70px;
    margin-left: 13px;
    color: #666;
}
.help-list a:hover{
    color:#ff7919;
}
.wang2{
    width: 498px;
    height: 100%;
    text-align: center;
}
.wang2-title{
    height: 62px;
    line-height: 62px;
    font-size: 24px;
    color: #ff7919;
    margin-top: 20px;
}
.wang2-time{
    font-size: 12px;
    color: #666;
    line-height: 30px;
}
.wang3{
    width: 271px;
    height: 100%;
    margin-left: 85px;
    padding-top: 36px;
}
.wang3-img{
    float:left;
    margin-left:45px;
}
.wang3-img-desc{
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}
.base-bottom-nav2{
    width: 100%;
    background: #f7f7f7;
}
.nav2-list1{
    height: 62px;
    line-height: 62px;
    text-align: center;
}
.list1-title{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #999;
    font-size:14px;
}
.list1-desc{
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.list1-desc a{
    font-size:12px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 0 12px;
    line-height: 12px;
    color: #666;
}
.list1-desc a:hover{
    color:#ff7919;
}
.list1-desc-border{
    border-left: 1px solid #d6d6d6;
}
.nav2-list2{
    height: 32px;
    text-align:center;
    padding-left:74px;
}
.business{
    float:left;
}
.art{
    padding-left:20px;
    padding-right:20px;
}
.art-title{
    float:left;
    font-size:12px;
    width: 50px;
    color:#666;
}
.art a{
   float:left;
   margin-left: 15px;
}
.nav2-list-icon{
    background-image:url('../img/sprit.png');
    height: 32px;
}
.yixin{
    width: 33px;
    background-position: -311px -201px;
}
.logo1{
    width: 28px;
    background-position: -85px -201px;
}
.zdf{
    width: 38px;
    background-position: -178px -201px;
}
.cmtj{
    width: 70px;
    background-position: -229px -201px;
}
.logo2{
    width: 33px;
    background-position: -129px -201px
}
.music{
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #e0e0e0;
}
.music a{
    float:left;
    margin-left:15px;
}
.asus{
    width: 54px;
    background-position: -85px -235px;
}
.xl{
    width: 55px;
    background-position: -302px -235px; 
}
.afu{
    width: 37px;
    background-position: -155px -235px; 
}
.child{
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #e0e0e0;
}
.child a{
    float:left;
    margin-left:15px;
}
.jl{
    background-image:url('../img/jili_logo.png');
    width: 71px;
    background-position: center;
    -moz-background-size: cover;
         background-size: cover; 
    background-repeat: no-repeat;
    -moz-background-size:71px;
         background-size:71px;
}
.oo{
    width: 44px;
    background-position: -196px -276px;
}
.yy{
    width: 44px;
    background-position: -256px -276px;
}
.wz{
    width: 50px;
    background-position: -352px -200px;
}
.nav2-list3{
    height: 40px;
    padding-top: 26px;
    text-align: center;
}
.nav2-list3 a{
    font-size:12px;
    padding: 0 12px;
    color: #808080;
}
.nav2-list3 a:hover{
    color:#ff7919;
}
.nav2-list3-border{
    border-left: 1px solid #dbdbdb;
}
.nav2-list4{
    height: 40px;
    padding-top: 10px;
    text-align: center;
}
.nav2-list4-text{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #bdbdbd;
    font-size:12px;
    vertical-align: middle;
}
.nav2-list4-box{
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.nav2-list4-box em{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background-image:url('../img/sprit.png');
    width: 18px;
    height: 20px;
    background-position: -282px -141px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 4px;
}
.nav2-list5{
    height: 52px;
    text-align: center;
}
.pm{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 84px;
    height: 35px;
    background-image:url('../img/sprit.png');
}
.police{
    background-position: -89px -133px;
    margin-right: 10px;
}
.watch{
    background-position: -182px -133px;
}